@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');
@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

html {
    scrollbar-gutter: stable;
    scroll-behavior: smooth;
    /* scroll-padding: 15rem; */
}

header {
  view-transition-name: main-header;
}

@theme {
    @keyframes view-transition-fade-out {
        from { opacity: 1 }
        to { opacity: 0 }
    }
}

/* 疑似要素への適用（!importantを付与） */
::view-transition-old(root) {
    animation: view-transition-fade-out 0.1s ease-in-out both !important;
}

::view-transition-new(root) {
    animation: view-transition-fade-out 0.1s ease-in-out both reverse !important;
    /* animation: none; */
}

@media (prefers-reduced-motion: reduce) {
  ::view-transition-group(root) {
    animation: none !important;
  }
}

@theme {
    --breakpoint-xs: 500px;
    --breakpoint-2xs: 365px;

    --font-primary: "Noto Sans JP", "monospace";

    --spacing-safe-top: env(safe-area-inset-top);
    --spacing-safe-bottom: env(safe-area-inset-bottom);
    --spacing-safe-left: env(safe-area-inset-left);
    --spacing-safe-right: env(safe-area-inset-right);

    --spacing-safe-x: env(safe-area-inset-left);
    --spacing-safe-y: env(safe-area-inset-bottom);

    /* ベースカラー */
    --color-base-light: var(--color-neutral-100);
    --color-base-dark: var(--color-neutral-800);
    --color-base: var(--color-base-light);

    /* メインカラー */
    --color-main-light: #E2421F;
    --color-main-dark: #E2421F;
    --color-main: var(--color-main-light);

    /* ラベルカラー */
    --color-label-light: var(--color-neutral-800);
    --color-label-dark: var(--color-neutral-100);
    --color-label: var(--color-label-light);

    --color-information: var(--color-sky-400);
    --color-success: var(--color-green-700);
    --color-danger: var(--color-red-600);
    --color-warning: var(--color-yellow-500);
    --color-disabled: var(--color-neutral-300);

    --color-base-accent: color-mix(in srgb, var(--color-base), var(--color-label) 5%);
}

@layer theme {
    .dark {
        --color-base: var(--color-base-dark);
        --color-main: var(--color-main-dark);
        --color-label: var(--color-label-dark);
        --color-success: var(--color-green-500);
        --color-danger: var(--color-red-500);
        --color-warning: var(--color-yellow-300);
        --color-disabled: var(--color-neutral-500);

        --color-base-accent: color-mix(in srgb, var(--color-base), var(--color-label) 5%);
    }
}

@layer base {
    h1 {
        @apply text-lg sm:text-xl md:text-2xl font-bold;
    }

    h2 {
        @apply text-lg md:text-xl font-bold;
    }

    h3 {
        @apply text-sm md:text-lg font-bold;
    }

    section {
        @apply transition-all duration-300;
    }
}

/* @layer components { */
@utility flex-center {
    @apply flex items-center justify-center;
}

@utility inline-link {
    @apply transition-all duration-300 text-sky-700 dark:text-sky-400 hover:text-sky-200 underline;
}

@utility button-general {
    @apply transition-all duration-300 rounded-lg shadow-black shadow-md/50 hover:shadow-md/25 active:shadow-sm/25;
}

@utility button-base {
    @apply bg-base hover:bg-label/5 active:bg-label/40;
}

@utility button-label {
    @apply text-base bg-label hover:bg-label/80 active:bg-label/60;
}

@utility input-general {
    @apply transition-all duration-100 relative p-1 bg-base-accent rounded-sm border-label border-b-2;

    &:focus {
        @apply bg-label/3 border-label/20 ring-label ring-1;
        outline: none;
    }
}

@utility input-range-general {
    @apply appearance-none bg-base-accent border-label border-b-2 rounded-sm cursor-pointer;

    &::-webkit-slider-thumb {
        @apply appearance-none -ml-px m-0.5 w-3 h-3 bg-main rounded-sm;
    }
        
    &::-moz-range-thumb {
        @apply appearance-none -ml-px m-0.5 w-3 h-3 bg-main rounded-sm;
    }
}

@utility toggle-switch {
    @apply appearance-none relative w-15 h-7 bg-base-accent rounded-lg border-label  border-b-2 cursor-pointer;

    &::before{
        @apply transition-all duration-100 absolute content-[''] w-5 h-5 top-1 left-1 bg-label rounded-sm;
    }

    &:checked::before {
        @apply translate-x-8 bg-main;
    }
}

/* @layer componentsから出すと動く */
/* .input-field > input, textarea {
    @apply transition-all duration-100 relative p-1 bg-base rounded-sm border-label border-b-2;
}

.text-field > input:focus, textarea:focus {
    @apply bg-label/3 border-label/20 ring-label ring-1;
    outline: none;
} */
